@charset "utf-8";
/* CSS Document */

#MCSWfloating {
    height: 50px;
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000; 
    color:#fff;
    padding: 0px 0;
    width:100%; 
    z-index:99999; 
    float:left; 
    vertical-align:middle; 
    margin: 0px 0 0; 
    opacity: 0.90;
}